// Utilities


// Margins
._m-t-1 { margin-top:    ($pad-v-base*1); }
._m-t-2 { margin-top:    ($pad-v-base*2); }
._m-t-3 { margin-top:    ($pad-v-base*3); }
._m-t-4 { margin-top:    ($pad-v-base*4); }
._m-b-1 { margin-bottom: ($pad-v-base*1); }
._m-b-2 { margin-bottom: ($pad-v-base*2); }
._m-b-3 { margin-bottom: ($pad-v-base*3); }
._m-b-4 { margin-bottom: ($pad-v-base*4); }
._m-r-1 { margin-right:  ($pad-v-base*1); }
._m-r-2 { margin-right:  ($pad-v-base*2); }
._m-l-1 { margin-left:   ($pad-v-base*1); }
._m-l-2 { margin-left:   ($pad-v-base*2); }

// Paddings
._p-1 { padding: $pad-v-base $pad-h-base; }
._p-2 { padding: ($pad-v-base*2) ($pad-h-base*2); }