<p><button class="btn">Standard gray button</button>
<p><button class="btn btn-primary">Primary button</button>
<p><button class="btn btn-secondary">Secondary button</button>
<p><button class="btn btn-tertiary">Tertiary button</button>
<p><button class="btn btn-link">Make a button look like a link</button>
